# requirements for the fbCollector tool
# Copyright (C) 2018-2023 Mark McIntyre
Pillow
paramiko
scp
pyqtgraph
xmltodict
requests
pandas
markdown2
pytest
pytest-cov
matplotlib
numpy < 2.0
cython
scipy
matplotlib
jplephem
pyephem
basemap
PyQt5 ; platform_machine != 'aarch64'
pyyaml
pyswarms
pkgconfig
ml-dtypes
keras
pytz
pytest
pytest-cov